<br>
<div class="card-deck ml-2 mr-2">
  <mdb-card *ngFor="let session of sessions">
    <!--Card image-->
    <mdb-card-img src="{{ session.assets}}" alt="Card image cap"></mdb-card-img>
    <!--Card content-->
    <mdb-card-body>

      <!--Title-->
      <mdb-card-title>
        <h4>Ticket</h4>
      </mdb-card-title>

      <!--Text-->

      <mdb-card-text> Lieu: {{ session.lieu }}
      </mdb-card-text>
      <mdb-card-text> Date: {{ session.date | date }}
      </mdb-card-text>
      <mdb-card-text> Prix: {{ session.prix}}
      </mdb-card-text>
      <mdb-card-text> <select class="browser-default custom-select">
          <option selected>Number</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </mdb-card-text>

      <button type="button" class="btn btn-lg btn-primary btn-block mb-1 sunny-morning-gradient" rounded="true"
        data-toggle="modal" data-target="#basicExample" (click)="frame.show()" mdbWavesEffect>Buy Ticket</button>

      
        <div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
          aria-labelledby="myModalLabel" aria-hidden="true">
          <form class="text-center border border-light p-5" (ngSubmit)="onSubmit()" [formGroup]="ticketForm">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Buy Ticket</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-3">
                <div class="md-form mb-5">
                  <!-- <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon> -->
                  <input type="email" formControlName="nom" id="defaultForm-email" class="form-control validate"
                    mdbInput>
                  <label data-error="wrong" data-success="right" for="defaultForm-email">Nom</label>
                </div>

                <div class="md-form mb-4">
                  <!-- <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon> -->[formControl]="loginFormModalPassword"
                  class="form-control validate"
                  mdbInput>
                  <label data-error="wrong" data-success="right" for="defaultForm-pass">Email</label>
                </div>

                <div class="md-form mb-4">
                  <!-- <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon> -->
                  <input type="password" formControlName="quantite" id="defaultForm-pass" class="form-control validate"
                    mdbInput>
                  <label data-error="wrong" data-success="right" for="defaultForm-pass"> Quantité</label>
                </div>

                <div class="md-form mb-4">
                  <!-- <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon> -->
                  <input type="password" id="defaultForm-pass" class="form-control validate" mdbInput>
                  <label data-error="wrong" data-success="right" for="defaultForm-pass"> Prix: {{ session.prix}}</label>
                </div>

                <div class="md-form mb-4">
                  <!-- <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon> -->
                  <input type="password" formControlName="date_paiement" id="defaultForm-pass"
                    class="form-control validate" mdbInput>
                  <label data-error="wrong" data-success="right" for="defaultForm-pass">Date de Paiement</label>
                </div>

              </div>
              <div class="modal-footer d-flex justify-content-center">
                <button mdbBtn color="default" class="waves-light sunny-morning-gradient" mdbWavesEffect>Buy</button>
              </div>
            </div>
          </div>
        </form>
        </div>
       


    </mdb-card-body>
  </mdb-card>
</div>
<br>