.container-fluid {
    background-color: White;
    height: 20vh;
  }
 
  
  i {
    transform: scale(1.6);
    color: black;
    margin: 0% 5%;
    padding: 0 25px;
    display: flex;
    justify-content: center;
  }
  
  .heart {
    color: red;
  
  }
  
  .social-icons-deck {
    justify-content: center;
  }
  
  .je {
    border: .19em solid #f5d273;
    box-shadow: 1px 1px 0 #e6e945;
    margin: 0;
  }