<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-light lighten-1" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand> <img src="assets/LogoWildCircus.png" alt="" class="img-fluid z-depth-0 logoWC"></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item ml-5 ">
          <a [routerLink]="['/home']" class="nav-link waves-light ml-5" mdbWavesEffect routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/AboutUs']" class="nav-link waves-light ml-5" mdbWavesEffect routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/Ticket']" class="nav-link waves-light ml-5" mdbWavesEffect routerLinkActive="active">By Tickets</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/Contact']" class="nav-link waves-light ml-5" mdbWavesEffect routerLinkActive="active">Contact Us</a>
          </li>
  
        <!-- Dropdown -->
        <!-- <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            Basic dropdown<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
            <div class="divider dropdown-divider"></div>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
          </div>
        </li> -->
  
      </ul>
      <!-- Links -->
  
      <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item avatar dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                <img src="assets/chapeau.png" alt="" class="img-fluid rounded-circle z-depth-0 panier"></a>
              <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                <a [routerLink]="['/Admin']" class="dropdown-item waves-light" mdbWavesEffect href="#">Admin</a>
              </div>
            </li>
        <li class="nav-item avatar dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <img src="assets/TICKET.png" alt="" class="img-fluid rounded-circle z-depth-0 panier"></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a [routerLink]="['/Recap']" class="dropdown-item waves-light" mdbWavesEffect href="#">My Purchase</a>
          </div>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->
  <hr class="je">