.logoWC{
  height : 8em;
}
.je {
    border: .19em solid #f5d273;
    box-shadow: 1px 1px 0 #e6e945;
    margin: 0;
  }
  .panier{
      height:3.5em;
  }
.nav-link{
  font-size: 1.2em;
  margin-right: 3em;
  margin-left: 1em;
}
  .nav-link:hover {
    border: 2px solid rgb(245, 102, 102);
  }
  .active {
    background-color: #ff897d;
  }
  
   
  