<br>
<div class="container text-center">
    <section>
        <h2> About US </h2>
        <p> The real beginning is in our heads, our crazy dreams, our refusals, our refuges. The desire for a return to childhood.
                What are we going to do with our dreams, our utopias? 
                The party ! !!
                The party is present everywhere. 
                And that's how it started with an idea, a meeting and a desire to learn ....
                We started by going from walkers on jugglers, fire-eaters and even musicians. Intriguing and wonderfully small and big.
                Always in search of novelties to provoke the senses and the emotions of the people of the whole world ...
                Wild Circus is a return to the source of childhood laughter and carelessness.</p>
                <a><img class="img" src="assets/ImageAboutUs.jpg" alt="" class="img-fluid"></a>
    </section>
<br>